{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}


<h1 class="text-center">Posts</h1>

    {% for post in posts %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ post['title'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> by <b> {{ post['username'] }} </b>on {{ post['created'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">{{ post['body'] }}</p>

            {% if g.user['id'] == post['author_id'] %}
            
                <a class="card-link badge badge-pill badge-secondary" href="{{ url_for('blog.update', id=post['id']) }}"><i class="fa fa-pencil-square-o"></i> Edit</a>

                <a  class="card-link badge badge-pill badge-danger"  href="{{url_for('blog.delete', id=post['id']) }}" onclick="return confirm('Are you sure?');"><i class="fa fa-times"></i> Delete</a>
            
            {% endif %}
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
     <!-- <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article> -->
    {% if not loop.last %}
      <!-- <hr> -->
    {% endif %}
  {% endfor %}

    
<h1 class="text-center">{% block title %}Users for hire{% endblock %}</h1>

    {% for user in users %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ user['username'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> registered at {{ user['registered'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">Employee expertise: {{ user['expertise'] }}</p>

            {% if user['hired_by'] > 0 %}
            <a class="card-link badge badge-pill badge-secondary"><i class="fa fa-pencil-square-o"></i> Hired</a>
            {% else %}
              {% if g.user['role'] == 'employer'%}
                <a class="card-link badge badge-pill badge-primary" href="{{ url_for('blog.hire', id=user['id']) }}"><i class="fa fa-pencil-square-o"></i> Hire</a>
              {% endif %}
            {% endif %}
            {% if g.user['id'] == user['hired_by'] %}
            <a class="card-link badge badge-pill badge-danger" href="{{ url_for('blog.fire', id=user['id']) }}"><i class="fa fa-pencil-square-o"></i> Fire</a>
            {% endif %}
            </div></div>
            {% if not loop.last %}
            <!-- <hr> -->
          {% endif %}
        {% endfor %}



{% endblock %}





  
<!-- 
        <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col-12 col-lg-auto mt-3 mb-3" style="width: 200px;">
            <div class="card p-3">
              <div class="e-navlist e-navlist--active-bg">
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link px-2" href="/"><i class="fa fa-bar-chart mr-1"></i><span>Hire/Posts</span></a></li>
                  <li class="nav-item"><a class="nav-link px-2" href="/profile"><i class="fa fa-fw fa-user mr-1"></i><span>{{ g.user['username'] }}</span></a></li>
                  
                  <li class="nav-item"><a class="nav-link px-2" href="/create"> <i class="fa fa-plus mr-1"></i><span>Create Post</span></a></li>
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/logout"> <i class="fa fa-sign-out mr-1"></i><span>Logout</span></a></li>
                  
                  
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/register"><i class="fa fa-cog mr-1"></i><span>Register</span></a></li>
                  <li class="nav-item"><a class="nav-link px-2" href="/auth/login"> <i class="fa fa-sign-in mr-1"></i><span>Log In</span></a></li>
                </ul>
              </div>
            </div>
            
          </div>
        
          <div class="col">
            <div class="row">
              <div class="col mb-3 mt-3">
                <div class="card">
                  <div class="card-body">
                    <div class="e-profile">
                        
                          <h1 class="text-center">Posts</h1>

                                <div class="card mt-3" style="width: auto;">
                                    <div class="card-body">
                                    <h3 class="card-title">{{ post['title'] }}</h3>
                                    <h6 class="card-subtitle mb-2 text-muted"><small> by <b> {{ post['username'] }} </b>on {{ post['created'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
                                    <p class="card-text">{{ post['body'] }}</p>

                                    
                                        <a class="card-link badge badge-pill badge-secondary" href="{{ url_for('blog.update', id=post['id']) }}"><i class="fa fa-pencil-square-o"></i> Edit</a>

                                        <a  class="card-link badge badge-pill badge-danger"  href="{{url_for('blog.delete', id=post['id']) }}" onclick="return confirm('Are you sure?');"><i class="fa fa-times"></i> Delete</a>
                                    
                           
                                    </div>
                                </div>
                              
                              {% if not loop.last %}
                           
                              {% endif %}
                            {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-12 col-md-3 mb-3 mt-3">
                !-- <div class="card mb-3">
                    <div class="card-body">
                      <div class="px-xl-3">
                       
                        
                      </div>
                    </div>
                  </div> --
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title font-weight-bold">Support</h6>
                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                    <button type="button" class="btn btn-primary">Contact Us</button>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        </div> -->
              


  <!-- <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://www.hellenicdapp.chanel/" target="_blank">Hellenic Dapp | Chanel</a>
      <ul  class="navbar-nav px-3">
      <li class="nav-item text-nowrap d-none d-sm-none d-sm-block">
        <small><a class="nav-link" href="/"><span id="balance">Balance...</span> </a></small>
      </li>
    </ul>
      <ul class="navbar-nav px-3">
       
        <li class="nav-item text-nowrap d-none d-sm-none d-sm-block">
          <small><a class="nav-link" href="#"><span id="account">Account...</span></a></small>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-lg-12 d-flex justify-content-center">
          <div id="loader" class="text-center">
            <p class="text-center">Loading...</p>
          </div>
          <div id="content">
         <form onSubmit="App.createTask(); return false;">
              <input id="newTask" type="text" class="form-control" placeholder="Add task..." required>
              <input type="submit" hidden="" >
            </form>
            <ul id="taskList" class="list-unstyled">
              <div class="taskTemplate" class="checkbox" style="display: none">
                <label>
                  <input type="checkbox" />
                  <span class="content">Task content goes here...</span>
                </label>
              </div>
            </ul>
            <ul id="completedTaskList" class="list-unstyled">
            </ul>
          </div>
        </main>
      </div>
    </div>

    jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    Include all compiled plugins (below), or include individual files as needed
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/truffle-contract/dist/truffle-contract.js"></script>
    <script src="app.js"></script>
    
  </body> -->









          <!-- <ul id="taskList" class="list-unstyled">
                      <div class="taskTemplate" class="checkbox" style="display: none">
                        <label>
                          <input type="checkbox" />
                          <span class="content">Task content goes here...</span>
                        </label>
                      </div>
                    </ul>
                    <ul id="completedTaskList" class="list-unstyled">
                    </ul> -->
                  
                 
                <!-- onclick="return confirm('Are you sure?');" -->
                
                





                    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
